[package]
name = "interspace"
description = " a solar system distance visualizer because space is big"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
wasm-bindgen = "0.2.105"